<!-- content -->
<div class="content">
    <!-- content-header -->
    <div class="content-header">
        <ul class="content-header-action pull-right">
            <li>
                <a href="#">
                    <div class="badge-circle color-white">
                        <div class="grd-green">
                            <i class="icofont-flag"></i>
                        </div>
                    </div>
                    <div class="action-text color-green">{{item.visitCount}} <span class="helper-font-small color-silver-dark">Visits</span></div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div class="badge-circle color-white">
                        <div class="grd-teal">
                            <i class="icofont-user-md"></i>
                        </div>
                    </div>
                    <div class="action-text color-teal">{{item.userCount}} <span class="helper-font-small color-silver-dark">Users Donated</span></div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div class="badge-circle color-white">
                        <div class="grd-orange">$</div>
                    </div>
                    <div class="action-text color-orange">{{item.currAmount}} <span class="helper-font-small color-silver-dark">Donations</span></div>
                </a>
            </li>
        </ul>
        <h2><i class="icofont-star"></i> {{item.title}}</h2>
    </div><!-- /content-header -->
    
    <!-- content-body -->
    <div class="content-body">
        <!-- icons -->
        <div class="row-fluid">
            <div class="span12">
            	<h1>Amount needed : {{item.amount}}</h1>
                <p>{{item.description}}</p>
                <p>Posted by : {{item.userDisplayName}}</p>

                <!-- campaign-new -->
                <div id="campaign-new" class="row-fluid">
                    <div class="span12">
                        <div class="box corner-all">
                            
                            <div class="box-header grd-white color-silver-dark corner-top">
                                <span>Donate</span>
                            </div>
                            
                            <div class="box-body" style="display: block;">
                                <form class="form-horizontal" ng-submit="addItem()">
                                    <div class="control-group">
                                        <label class="control-label" for="inputName">Amount</label>
                                        <div class="controls">
                                            <input type="text" id="inputName" class="grd-white" ng-model="donation.amount">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="inputTin">Transaction ID</label>
                                        <div class="controls">
                                            <input type="text" id="inputTin" class="grd-white" ng-model="donation.transactionId">
                                        </div>
                                    </div>
                                    
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-primary">Donate</button>
                                        <button type="button" class="btn" ng-click="clearItem()">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!--/span-->
        </div><!--/icons-->
    </div><!--/content-body -->
</div><!-- /content -->