<!-- content -->
<div class="content">
    <!-- content-header -->
    <div class="content-header">
        <h2><i class="icofont-star"></i> Donations</h2>
    </div><!-- /content-header -->
    
    <!-- content-body -->
    <div class="content-body">
        <!-- icons -->
        <div class="row-fluid">
            <div class="span12">
                <ul>
                    <li ng-repeat="item in items">
                      {{item.amount}} for <a href="#/campaigns/{{item.url}}">{{item.title}}</a> - {{item.status}}
                    </li>
                </ul>
            </div><!--/span-->
        </div><!--/icons-->
    </div><!--/content-body -->
</div><!-- /content -->