<!-- content -->
<div class="content">
    <!-- content-header -->
    <div class="content-header">
        <h2><i class="icofont-star"></i> Home</h2>
    </div><!-- /content-header -->
    
    <!-- content-body -->
    <div class="content-body">
        <!-- icons -->
        <div class="row-fluid">
            <div class="span12">
                <h1>Campaigns from everyone!</h1>
                <ul>
                    <li ng-repeat="item in items">
                      {{item.title}} - {{item.userDisplayName}} ---><a href="#/campaigns/{{item.url}}">{{item.url}}</a>
                    </li>
                </ul>
            </div><!--/span-->
        </div><!--/icons-->
    </div><!--/content-body -->
</div><!-- /content -->