<!-- content -->
<div class="content">
    <!-- content-header -->
    <div class="content-header">
        <h2><i class="icofont-star"></i> Payments</h2>
    </div><!-- /content-header -->
    
    <!-- content-body -->
    <div class="content-body">
        <!-- icons -->
        <div class="row-fluid">
            <div class="span12">
                <p>This is the payments view.</p>
            </div><!--/span-->
        </div><!--/icons-->
    </div><!--/content-body -->
</div><!-- /content -->