<!-- content -->
<div class="content">
    <!-- content-header -->
    <div class="content-header">
        <h2><i class="icofont-star"></i> Payments</h2>
    </div><!-- /content-header -->
    
    <!-- content-body -->
    <div class="content-body">
        <!-- icons -->
        <div class="row-fluid">
            <ul>
                <li ng-repeat="item in items">
                  <a href="#/campaigns/{{item.url}}">{{item.title}}</a> : {{item.amount}} from {{item.sponsorName}} - {{item.status}}
                </li>
            </ul>
        </div><!--/icons-->
    </div><!--/content-body -->
</div><!-- /content -->